[package]
name = "moordyn-sys"
version = "0.1.0"
links = "moordyn"
build = "build.rs"
edition = "2018"
[lib]
plugin = true
path = "./lib.rs"
name = "moordyn"
[dependencies]
libc = "0.2"
[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
pkg-config = "0.3" 
